USE [master]
GO
/****** Object:  Database [DietSystem]    Script Date: 24/05/2022 22:11:50 ******/
CREATE DATABASE [DietSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DietSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DietSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DietSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DietSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DietSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DietSystem]
GO
/****** Object:  UserDefinedFunction [dbo].[Base64Encode]    Script Date: 24/05/2022 22:11:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Base64Encode]
(
    @bin VARBINARY(MAX)
)
RETURNS VARCHAR(MAX)
AS
BEGIN   
    return CAST(N'' AS XML).value('xs:base64Binary(xs:hexBinary(sql:variable("@bin")))', 'VARCHAR(MAX)')
END
GO
/****** Object:  UserDefinedFunction [dbo].[FuncSplit]    Script Date: 24/05/2022 22:11:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FuncSplit](@text VARCHAR(8000), @delimiter VARCHAR(20) = ' ')
RETURNS @Strings TABLE
(   
  position INT IDENTITY PRIMARY KEY,
  value VARCHAR(8000)  
)
AS
BEGIN
DECLARE @index INT
SET @index = -1

WHILE (LEN(@text) > 0)
  BEGIN 
    SET @index = CHARINDEX(@delimiter , @text) 
    IF (@index = 0) AND (LEN(@text) > 0) 
      BEGIN  
        INSERT INTO @Strings VALUES (@text)
          BREAK 
      END 
    IF (@index > 1) 
      BEGIN  
        INSERT INTO @Strings VALUES (LEFT(@text, @index - 1))  
        SET @text = RIGHT(@text, (LEN(@text) - @index)) 
      END 
    ELSE
      SET @text = RIGHT(@text, (LEN(@text) - @index))
    END
  RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[splitstring]    Script Date: 24/05/2022 22:11:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[splitstring] (@stringToSplit VARCHAR(MAX), @delimiter nvarchar(1)=',')
RETURNS
 @returnList TABLE ([Value] [nvarchar] (500))
AS
BEGIN

 DECLARE @name NVARCHAR(255)
 DECLARE @pos INT

 WHILE CHARINDEX(@delimiter, @stringToSplit) > 0
 BEGIN
  SELECT @pos  = CHARINDEX(@delimiter, @stringToSplit)  
  SELECT @name = SUBSTRING(@stringToSplit, 1, @pos-1)

  INSERT INTO @returnList 
  SELECT @name

  SELECT @stringToSplit = SUBSTRING(@stringToSplit, @pos+1, LEN(@stringToSplit)-@pos)
 END

 INSERT INTO @returnList
 SELECT @stringToSplit

 RETURN
END
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 24/05/2022 22:11:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DietitianID] [bigint] NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[Score] [int] NOT NULL,
	[CommentText] [nvarchar](max) NULL,
	[CommentDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 24/05/2022 22:11:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[DietitanID] [bigint] NOT NULL,
	[ContractPrice] [real] NOT NULL,
	[ContractStartDate] [datetime2](7) NOT NULL,
	[ContractEndDate] [datetime2](7) NOT NULL,
	[IsApproved] [bit] NOT NULL,
 CONSTRAINT [PK_Contracts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 24/05/2022 22:11:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[Weight] [real] NOT NULL,
	[Height] [real] NOT NULL,
	[BirthDay] [int] NOT NULL,
	[BirthMonth] [int] NULL,
	[BirthYear] [int] NULL,
	[AllergenicFood] [nvarchar](max) NULL,
	[Goal] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DietDetails]    Script Date: 24/05/2022 22:11:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DietDetails](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[FoodID] [bigint] NOT NULL,
	[MeasureUnitID] [bigint] NOT NULL,
	[MealType] [nvarchar](max) NULL,
	[Quantity] [real] NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[DietitianID] [bigint] NOT NULL,
	[ContractID] [bigint] NULL,
 CONSTRAINT [PK_DietDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dietitians]    Script Date: 24/05/2022 22:11:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dietitians](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[IsCertificate] [bit] NOT NULL,
	[IsCertificateVerDate] [datetime] NULL,
	[CityName] [nvarchar](max) NULL,
	[MonthlyPrice] [float] NULL,
	[CertificatePath] [nvarchar](max) NULL,
	[Bio] [nvarchar](max) NULL,
 CONSTRAINT [PK_Dietitians] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foods]    Script Date: 24/05/2022 22:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foods](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[FoodName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Foods] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeasureUnits]    Script Date: 24/05/2022 22:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasureUnits](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[MeasureUnitName] [nvarchar](max) NULL,
 CONSTRAINT [PK_MeasureUnits] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meetings]    Script Date: 24/05/2022 22:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meetings](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DietitianID] [bigint] NOT NULL,
	[SelectedDate] [datetime] NOT NULL,
	[CustomerID] [bigint] NOT NULL,
 CONSTRAINT [PK_Meetings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 24/05/2022 22:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MessageDate] [datetime2](7) NOT NULL,
	[IsReaded] [bit] NOT NULL,
	[MessageText] [nvarchar](max) NULL,
	[SendedUserID] [bigint] NOT NULL,
	[ReceiverUserID] [bigint] NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24/05/2022 22:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[EPosta] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Password] [nvarchar](max) NULL,
	[VerifyToken] [nvarchar](max) NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contracts] ADD  CONSTRAINT [DF_Contracts_IsApproved]  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Foods] ADD  CONSTRAINT [DF_Foods_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MeasureUnits] ADD  CONSTRAINT [DF_MeasureUnits_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  StoredProcedure [dbo].[spSelectDietitianViews]    Script Date: 24/05/2022 22:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSelectDietitianViews]
(
@CityList nvarchar(max) = null,
@MinPrice int = 0,
@MaxPrice int = null,
@StarList nvarchar(50) = null
)
AS
BEGIN

	set language turkish;

	select d.CityName as 'Sehir',isnull(cast(d.MonthlyPrice as nvarchar),0) + ' TL' as MonthlyPrice,
	d.ID as DietitianID,u.ID as UserID,
	u.EPosta,u.FullName,
	(select count(*) from dbo.Comments as c where c.DietitianID = d.ID) as CommentCount,
	(select cast(isnull(AVG(c.Score),0) as int) from dbo.Comments as c where c.DietitianID = d.ID) as ScoreAvg,
	(select count(*) from dbo.Contracts as co where co.DietitanID = d.ID and co.ContractEndDate > getdate()) as ActiveCustomer,
	SUBSTRING(isnull(d.Bio,''),1,151) + iif(LEN(d.Bio)>150,'...','') as ShortBio
	from dbo.Dietitians as d
	left outer join dbo.Users u on u.ID = d.UserID
	where d.IsCertificateVerDate is not null
	and (@StarList is null or (d.ID in (select ID from dbo.Comments co where co.DietitianID = d.ID and co.Score in (select * from dbo.splitstring(@StarList,',')))))
	and (@CityList is null or (d.CityName in (select * from dbo.splitstring(@CityList,','))))
	and (@MinPrice = 0 or (d.MonthlyPrice > @MinPrice))
	and (@MaxPrice is null or (d.MonthlyPrice < @MaxPrice))
END
GO
/****** Object:  StoredProcedure [dbo].[spSelectLastMessages]    Script Date: 24/05/2022 22:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[spSelectLastMessages]
(
@UserID bigint,
@ReciverUserID bigint
)
AS
BEGIN
--declare @UserID bigint = 1


	--select Result into #tmp from (
	--	select case when @UserID = SendedUserID then ReceiverUserID else SendedUserID end as Result from dbo.Messages
	--	where @UserID in (SendedUserID,ReceiverUserID)
	--) as t
	--group by t.Result

	--select t.[ID]
 --     ,t.[MessageDate]
 --     ,t.[IsReaded]
 --     ,t.[MessageText]
 --     ,t.[SendedUserID]
 --     ,t.[ReceiverUserID]
	--from (
	--	select m.*, row_number() over (partition by Result order by MessageDate desc) as seq
	--	from #tmp as tt
	--	left outer join dbo.Messages m on tt.Result in(m.ReceiverUserID,m.SendedUserID)
	--) t
	--where seq = 1;

	--drop table #tmp


	select * from dbo.Messages as ms
	where @UserID in (ms.ReceiverUserID,ms.SendedUserID)-- and ms.

END
GO
/****** Object:  StoredProcedure [dbo].[spSelectMessagesGrouping]    Script Date: 24/05/2022 22:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSelectMessagesGrouping]
(
@UserID bigint
)
AS
BEGIN
--declare @UserID bigint = 1


	select Result into #tmp from (
		select case when @UserID = SendedUserID then ReceiverUserID else SendedUserID end as Result from dbo.Messages
		where @UserID in (SendedUserID,ReceiverUserID)
	) as t
	group by t.Result

	select t.[ID]
      ,t.[MessageDate]
      ,t.[IsReaded]
      ,t.[MessageText]
      ,t.[SendedUserID]
      ,t.[ReceiverUserID]
	from (
		select m.*, row_number() over (partition by Result order by MessageDate desc) as seq
		from #tmp as tt
		left outer join dbo.Messages m on tt.Result in(m.ReceiverUserID,m.SendedUserID)
	) t
	where seq = 1;

	drop table #tmp

END
GO
/****** Object:  StoredProcedure [dbo].[spSelectTopDietitians]    Script Date: 24/05/2022 22:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spSelectTopDietitians]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   select di.* from dbo.Dietitians di
	where di.ID in ((select top 10 c.DietitianID from dbo.Comments as c group by c.DietitianID having cast(isnull(AVG(c.Score),0) as int) > 3))
END
GO
USE [master]
GO
